.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }

  .buttons {
    flex-direction: column;
  }

  .buttons > * {
    margin-left: 0 !important;
    margin-top: 0.5rem;
  }
}
